.scroller {
    align-items: flex-start;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: center;
}

.CharacterCard {
    display: flex;
    height: 230px;
    padding: 10px;
    width: 170px;
}

.CharacterCard > .container {
    border: 1px solid #adadad;
    border-radius: 20px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 10px 10px 0;
}

.CharacterCard > .container > img {
    height: 15vh;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex: 1 1;
}

.Character > h5 {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
}

